body {
    font-family: Calibri;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #169;
    color: white;
    padding: 20px;
    text-align: center;
}

header nav ul {
    list-style-type: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 10px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

h1,
h2 {
    color: #169;
}

section {
    padding: 10px;
    margin: 10px;
}

footer {
    background-color: #169;
    color: white;
    text-align: center;
    padding: 0px;
    width: 100%;
    bottom: 0;
}